*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Project Properties #
project.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/IFT605TP2-Common/nbproject/private/
/IFT605TP2-Common/build/
/IFT605TP2-Common/dist/
*.swp
